* {
    font-family: 'Helvetica';
}

body {
    margin: 0;
}

#header {
    background-color: rgba(0,186,206,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: 0;
    position: fixed;
    z-index: 1;
}

h1 {
    margin: 0;
    margin-left: 2vh;
    padding: 20px;
}

h1 a {
    color: white;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 20px;
    margin-right: 3vh;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.home-picture {
    background-image: url('./Pictures/pexels-vincent-gerbouin-1174732.jpg');
    background-size: cover;
    background-position: center 32%;
    height: 50vh;
}

.overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    text-shadow: 1px 0px white;
}

.welcome-p {
    font-size: 40px;
}

.lodging {
    height: 60vh;
    background-color: rgb(242, 242, 242);
}

.lodging h2, .transportation h2,
.activities h2 {
    display: flex;
    justify-content: center;
    padding: 3vh;
    margin-top: 0;
    margin-bottom: 0;
}

.lodging-photo-div {
    display: flex;
    justify-content: space-evenly;
}

.lodging-photo-container a {
    color: rgb(233, 178, 26);
    text-shadow: 1px 1px rgb(228, 228, 228);
}

.lodging-photo-container {
   position: relative;
}

.lodging-photo-container p, .transportation-photo-container p,
.activities-photo-container p {
  max-width: calc(300px - 2rem);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 3vh;
}


.transportation {
    height: 60vh;
    background-color: rgb(225, 223, 223);
}

.transportation-photo-div {
    display: flex;
    justify-content: space-evenly;
}

.transportation-photo-container a {
    color: rgb(233, 178, 26);
    text-shadow: 1px 1px rgb(228, 228, 228);
}

.transportation-photo-container {
    position: relative;
}

.transportation h2 {
    display: flex;
    justify-content: center;
    padding: 3vh;
    margin-top: 0;
}

.activities {
    height: 60vh;
    background-color: rgb(242, 242, 242);
}

.activities h2 {
    display: flex;
    justify-content: center;
    padding: 3vh;
    margin-top: 0;
}

.activities-photo-div {
    display: flex;
    justify-content: space-evenly;
}

.activities-photo-container a {
    color: rgb(233, 178, 26);
    text-shadow: 1px 1px rgb(228, 228, 228);
}

.activities-photo-container {
    position: relative;
}

.about-picture {
    background-image: url('./Pictures/pexels-diego-madrigal-2024534.jpg');
    background-size: cover;
    height: 60vh;
    background-position: center 30%;
    position: relative;
    text-align: center;
}

.about-overlay h2 {
    margin-top: 0;
    padding-top: 15vh;
    color: white;
    font-size: 32px;   
    text-shadow: 2px 2px rgb(0, 0, 0);
 
}

.about-overlay p {
    color: white;
    font-size: 24px;
    margin: 10vh;
    margin-top: 0;
    text-shadow: 2px 2px rgb(0, 0, 0);

}

.contact {
    height: 40vh;
    background-color: rgb(242, 242, 242);
    text-align: center;
}

.contact h2 {
    margin-top: 0;
    padding-top: 5vh;
}

.three-form {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-left: 15vh;
}

.three-form input {
    width: 10vw;
    margin-right: 12vh;
}

label[for="inquiry"] {
    display: block;
    margin-top: 4vh;
}

#inquiry {
    margin-top: 1vh;
    height: 5vh;
    width: 50vw;
}

.submit-button {
    margin-top: 3vh;
}

.footer div {
    background-color: rgba(0,186,206,255);
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.icons {
}

.icons img {
    margin-left: 1vw;
    display: inline;
}

.footer p {
    color: white;
    display: inline;
}

.copyright {    
    margin-left: 35.5vw;

}

.privacy {
    margin-left: 39vw;
}
