* {
    font-family: 'Helvetica';
}

body {
    margin: 0;
}

#header {
    background-color: rgba(0,186,206,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    padding: 0;
}

h1 {
    margin: 0;
    margin-left: 2vh;
    padding: 20px;
}

h1 a {
    color: white;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 20px;
    margin-right: 3vh;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.home-picture {
    background-image: url('./Pictures/pexels-vincent-gerbouin-1174732.jpg');
    background-size: cover;
    background-position: center 35%;
    height: 50vh;
}

.overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
}

.welcome-p {
    font-size: 40px;
}

.lodging {
    height: 60vh;
    background-color: rgb(242, 242, 242);
}

.lodging h2 {
    display: flex;
    justify-content: center;
    padding: 3vh;
    margin-top: 0;
}

.lodging-photo-div {
    display: flex;
    justify-content: space-evenly;
}

.transportation {
    height: 40vh;
    background-color: rgb(212, 212, 212);
}

.transportation-photo-div {
    display: flex;
    justify-content: space-evenly;

}

.transportation h2 {
    display: flex;
    justify-content: center;
    padding: 3vh;
    margin-top: 0;
}

